	@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


div{
	display:none;
	font-size:20px;
	position:relative;
	z-index:9;
		color: #FFF;
			font-family: 'Press Start 2P', cursive;
			
			color: #fff;
			text-shadow: -0   -3px 0   #000000,
			0   -3px 0   #000000,
			-0    3px 0   #000000,
			0    3px 0   #000000,
			-3px -0   0   #000000,
			3px -0   0   #000000,
			-3px  0   0   #000000,
			3px  0   0   #000000,
			-3px -3px 0   #000000,
			3px -3px 0   #000000,
			-3px  3px 0   #000000,
			3px  3px 0   #000000,
			-3px -3px 0   #000000,
			3px -3px 0   #000000,
			-3px  3px 0   #000000,
			3px  3px 0   #000000;
}
body{
	margin:10px;
	padding:10px;
  }
  hr{
	margin: 20px 0 20px;
	padding: 5px;
	border-radius:20px;
	height: 1px;
	border: none;
	background:#fff;
	box-shadow: 0 0 10px 1px #FFF;
	opacity: 0.3;
}
}